.search-for-church {
  .search-for-church-map {
    height: fit-content;
    background-color: lightgreen;
  }
}

.churches-panel.offcanvas.offcanvas-start {
  width: 35%;
  &.has-selection {
    width: 70%;
  }

  @include media-breakpoint-down(lg) {
    word-break: break-all;
    width: 100%;
    &.has-selection {
      width: 100%;
    }
    button {
      word-break: normal;
    }
  }
}
