.banner.generic-page-banner {
  @media (max-width: 767px) {
  }

  .banner-body {
    // min-height: 500px;
    padding: 40px 0;
    // @media (max-width: 767px) {
    //   height: auto;
    // }
    @include media-breakpoint-up(sm) {
      min-height: 300px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 300px;
    }
  }
  .generic-page-banner-title {
    display: flex;
    justify-content: center;
    & h1 {
      font-family: $font-family-base;
      text-align: center;

      text-transform: capitalize;
      font-size: 35px;
      font-weight: 300;
      line-height: 66px;
      margin: 0 0 20px;

      @include media-breakpoint-up(sm) {
        font-size: 60px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 60px;
      }
    }
  }

  [class^="icon-"]:before {
    position: relative;
    display: block;
    @include media-breakpoint-up(sm) {
      display: inline;
      padding-right: 20px;
    }
    top: 4px;

    color: $white !important;
  }
}
